@model MSW.Models.DistrictModel
<div>
    <div class="organization">
        <!--  start organization-top -->
        <div class="organization-top">
            <span style="cursor: pointer" name="districtTop">
                <img name='minus' src="../../Content/admin/images/forms/header_org_minus.png" height="43"
                    alt="" />
                <img name='plus' src="../../Content/admin/images/forms/header_org_plus.png" height="43"
                    alt="" style="display: none" />
                <span class="OrgTitle">
                    @Model.district.Title District</span> </span>
        </div>
        <!-- end organization-top -->
        <!--  start organization-bottom -->
        <div class="organization-bottom" name="districtBottom">
            <!-- Wrapper for animation -->
            <div districtid="@(Model.district.DistrictID)bg" class="noBackground">
                <!--  organization-inner -->
                <div class="organization-inner">
                    <span name="RemoveDistrict" districtid="@Model.district.DistrictID" class="addCallingLink">
                        <img src="../../Content/admin/images/forms/icon_minus_red.gif" width="13" alt="" />
                        Remove District</span> <span name="AddCompanionship" districtid="@Model.district.DistrictID" class="addCallingLink">
                            <img src="../../Content/admin/images/forms/icon_plus.gif" width="13" alt="" />
                            Add Companionship</span>
                    <p class="organization_header">
                        District Leader:
                        @Html.DropDownList("DistrictLeaderID", ViewData["orgCallings"] as IEnumerable<SelectListItem>, "Select a Calling", new { @style = "width: 161px", @districtID = Model.district.DistrictID, @control = "districtLeaderBox", @leader = Model.DistrictLeaderID })
                    </p>
                    <p style="margin-left: 20px">
                        Companionships</p>
                    <table class="companionshipList" id="@(Model.district.DistrictID)table" districtid = "@Model.district.DistrictID">
                        @{var column = 1;}
                        @if (Model.companionships.Count() == 0)
                        {
                            @MvcHtmlString.Create("<tr></tr>")
                        }
                        else
                        {

                            foreach (MSW.Models.CompanionshipModel companionship in Model.companionships)
                            {
                                if (column % 2 == 1)
                                {
                            @MvcHtmlString.Create("<tr name='compRow'>");
                                }
                            <td class="Companionship">
                                @{Html.RenderPartial("Companionship", companionship);}
                            </td>
                                  if (column % 2 == 0)
                                  {
                            @MvcHtmlString.Create("</tr>");
                                  }
                                  column++;
                            }
                        }
                    </table>
                    <div class="clear">
                    </div>
                </div>
                <!-- end organization-inner -->
                <div class="clear">
                </div>
            </div>
        </div>
        <!-- end organization-bottom -->
    </div>
    <!-- end organization -->
</div>
